<div class="container">
    <div class="row">
        <h1>
            <span class="text-muted">/</span> Sails.js <br>
            <span class="text-muted">/</span> AngularJS <br>
            <span class="text-muted">/</span> Twitter Bootstrap
        </h1>
        <div class="col-sm-12">
            <h2>Examples</h2>
            <ul>
                <li><a href="/rest-examples">REST Calls</a></li>
                <li><a href="/todos">Todo List App</a></li>
                <li><a href="/protected">Passport Auth Login</a></li>
            </ul>
            <h2>New to Sails?</h2>
            <ul>
                <li><a href="http://sailsjs.org">Visit sailsjs.org</a></li>
                <li><a href="http://sailsjs.org/#!documentation">Documentation</a></li>
            </ul>
            <div>
                <em class="text-muted">You're looking at:&nbsp;<code>views/main/index.ejs</code></em>
            </div>
        </div>
    </div>
</div>
